In [4]:
import pandas as pd

In [10]:
f = pd.read_json("Mean_per_day.json")

In [3]:
f

            t_c_averages
2019-12-31           0.0
2020-01-01           0.0
2020-01-02           0.0
2020-01-03           0.0
2020-01-04           0.0
...                  ...
2020-07-26      678708.2
2020-07-27      686501.4
2020-07-28      693046.2
2020-07-29      703635.2
2020-07-30      828311.0

[213 rows x 1 columns]